.culture-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .culture-section h1 {
    font-size: 40px ;
    margin-bottom: 30px;
    color: #333;
    animation: fadeIn 2s ease-in-out; 
  }
 
  .container1 {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    background-color: #405bf2;
    width: 1200px;
    margin: 0 auto;
  }
 
  .card2 {
    flex: 1 1 45%; 
    max-width: 600px; 
    height: 700px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 2s ease-in-out; 
  }
  
  
  .card2 img {
    display: block; 
    margin: 0 auto 15px; 
    width: 400px; 
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .card2 img:hover {
    transform: scale(1.1); 
  }
 
  .card2 h3 {
    margin-top: 50px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #405bf2;
  }
  
  .card2 p {
    font-size: 20px;
    color: #666;
    line-height: 1.5; text-align: left;
  }
  .card3 {
    flex: 1 1 45%; 
    max-width: 600px;
    height: 700px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 1s ease-in-out; /* Animation applied to the card */
  }
 
  .card3 img {
    display: block; 
    margin: 0 auto 15px; 
    width: 250px;
    height: auto;
    transition: transform 0.3s ease; 
  }

  .card3 img:hover {
    transform: scale(1.1); 
  }
 
  .card3 h3 {
    margin-top: 50px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #405bf2;
  }

  .card3 p {
    font-size: 20px;
    color: #666;
    line-height: 1.5; text-align: left;
  }

.arrow {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    font-size: 18px; 
    font-weight: bold; 
    color: #405bf2; 
    text-decoration: none; 
    margin-top: 20px;
    margin-left: 25rem;
    transition: all 0.3s ease; 
  }
  
 
  .arrow img {
    width: 20px;
    height: auto;
    margin-left: -2px; 
    margin-top: 16px;
    transition: transform 0.3s ease; 
  }
 
  .arrow:hover {
    color: #2d3ebd; 
  }
  
  .arrow:hover img {
    transform: translateX(5px); 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  