.admin-dashboard-container {
  display: flex;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  background: #f4f4f4;
  min-height: 100vh;
}
.chart-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}
