.sidebar {
  width: 220px;
  height: 100vh;
  background: #0e1f56;
  color: #fff;
  padding: 2rem 1rem;
}
.logo{
    color: #fff;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 3rem 2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0.5rem;
}
